<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbK4w3ks5mOk8SpbAwh4JrUF7liVzJ78E</string>
	<key>GCM_SENDER_ID</key>
	<string>368734514327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messApp</string>
	<key>PROJECT_ID</key>
	<string>messchat-ad1cd</string>
	<key>STORAGE_BUCKET</key>
	<string>messchat-ad1cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368734514327:ios:9f91fa17f7577b9dd08dd2</string>
	<key>DATABASE_URL</key>
	<string>https://messchat-ad1cd-default-rtdb.firebaseio.com</string>
</dict>
</plist>